/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1400px) {
	.jobs_item_descroption:before{
		width: 40px;
		height: 40px;
		font-size: 36px;
		margin: -20px 0 0 -20px;
	}
	.jobs_title_border{margin-bottom: 15px;}

	/*about*/
	.crewman_avatar{
		width: 200px;
		margin-right: 20px;
	}
	.crewman_description{padding-right: 5%;}
	.title1{font-size: 50px;line-height: 55px;}

	/*blog*/

	.blog_item{width: 33.333%;}

	/*contact*/
	.map_box{height: 500px;}
	
}

@media only screen and (max-width: 1199px) {

	.md-ml0{margin-left: 0;} 
	.md-mr0{margin-right: 0;}
	.md-mt30{margin-top: 30px;}

	/*main page*/
	#filters_btn a{margin-left: 25px;}
	.jobs_item_descroption:before{display: none;}
	.jobs_title_section{
		white-space: normal;
		padding-right: 20px;
	}
	.jobs_mane_project{
		font-size: 14px;
		white-space: normal;
	}
	.jobs_item.rectangle .jobs_mane_project, 
	.jobs_item.square_big .jobs_mane_project{
		font-size: 18px;
	}


	/*about*/
	.partners{margin: 30px 0 0;}
	.partners_item{width: 200px;}

	/*blog*/
	.blog_title a{font-size: 20px;}
	.blog_item_description{margin-top: 20px;}
	#blog_box{margin: 20px -15px 0;}

	/*blog open*/
	.open_blog_right{width: auto;}


	/*contact*/
	.map_box{height: 400px;}

	/*services*/
	.directions_title{float: none;}
	.services_text{width: auto;}
	.thumbnail_box{margin: 0 -5px;}
	.thumbnail_item{padding: 0 5px 20px;}
	.services_slider_item_col{
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	body{min-width:768px;font-size: 13px;}
	.logo a{margin-right: 20px;}
	
	#header_top_nav{float: none;}
	.footer_right{float: none;width: 100%;}
	.footer_left{margin-bottom: 10px;}

	.main_menu_link, 
	.main_menu_link:hover{
		font-size: 30px;
		line-height: 34px;
	}
	.main_menu{width: 190px;}
	.section_description_box{
		font-size: 20px;
		line-height: 24px;
		width: 260px;
	}
	.languages_list{padding-right: 0;}

	/*main page*/
	.jobs_item.rectangle .jobs_mane_project, 
	.jobs_item.square_big .jobs_mane_project{font-size: 16px;}

	#filters_btn{text-align: center;padding-bottom: 0;}
	.jobs_item_inner:hover .jobs_item_descroption{
		padding: 15px 10px 0;
	}
	.jobs_mane_project,
	.jobs_title_section{font-size: 12px;}
	.jobs_title_border{margin-bottom: 10px;}
	#filters_btn a{font-size: 13px;margin: 0 15px 15px 0;}
	#filter_jobs_box{margin: 40px -10px 0;}
	.jobs_item{padding: 0 10px 20px;}

	/*about*/
	.partners_item{width: 50%;padding: 0 30px 30px;}

	/*blog*/
	.blog_item{width: 50%;}

	.data_publication_share .social_list_link i{line-height: 19px;}

	/*services*/
	.full_screen_box{min-height: 400px;background-position: 50% 50px;}
	.directions_title{float: left;}
	.services_slider_item_col{width: 50%;}
	.services_item{padding: 20px 0;}
}

@media only screen and (max-width: 767px) {
	body{min-width:420px; font-size: 12px;}
	
	.footer_left{float: none;}
	.d_none767{display: none;}
	.mb20_767{margin-bottom: 20px;}
	.f_none767{float: none;}
	.footer_right{float: none;}
	.footer_left{margin-bottom: 10px;float: none;}
	#header{padding: 20px 0 10px;}
	.title1{
		font-size: 30px;
		line-height: 35px;
	}

	.bread_crumbs_list{margin-bottom: 10px;}
	.leaf_through_link:first-child{margin-left: 0;}

	/*menu*/
	.nav_mobail{
		position: fixed;
		top: 0;
		bottom: 0;
		right: -200px;
		width: 200px;
		z-index: 9;
		padding-top: 40px !important;
		background-color: rgba(0,0,0,0.7);
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.nav_mobail.active{
		right: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;}
	.nav_mobail .container-fluid{
		width: auto;
		padding: 0;
		margin: 0;
	}
		.nav_mobail_menu_list{
			margin: 0;
			width: auto;
			text-align: center;
		}
			.nav_mobail_menu_list:before{display: none;}
			.nav_mobail_menu_list_item{
				float: none;
				padding: 0;
				line-height: 34px;
			}
			.nav_mobail_menu_list_link{
				color: #fff;
				font-size: 30px;
				font-family: 'code_pro_boldregular';
			}
			.nav_mobail_menu_list_link:hover,
			.nav_mobail_menu_list_item.current .nav_mobail_menu_list_link{color: #989898;}
				.nav_mobail_menu_list_link:before{display: none;}
			.nav_mobail_btn{display: block;}
			.section_description_box{display: none;}

	/*main page*/
	.jobs_item,
	.jobs_item.rectangle, 
	.jobs_item.square_big{width: 100%;}
	.jobs_mane_project{font-size: 16px;}

	/*footer*/
	#go_up{
		width: 40px;
		height: 40px;
	}
	#go_up i{line-height: 38px;}
	.footer_title{margin-bottom: 15px;}


	/*about*/
	.crewman_item{padding-top: 20px;}
		.crewman_avatar{
			width: auto;
			margin-right: 0;
			margin-bottom: 15px;
			float: none;
		}
			.crewman_avatar img{width: 100%;}
			.crewman_description:before{
				right: 0;
				top: inherit;
				height: 1px;
				width: auto;
				bottom: 0;
			}
			.crewman_description{padding-left: 0;}
	.partners_item{
		float: none;
		width: auto;
	}

	/*blog*/
	.blog_item{width: 100%;}

	/*blog open*/
	.data_publication_list{margin-bottom: 20px;}

	/*contacts*/
	.contact_right{
		float: none;
		text-align: left;
		padding-left: 17px;
		padding-right: 0;
	}
	.contact_right:before{left: 0;bottom: 0;}
	.map_box{height: 300px;}
	.input_box{width: auto;}
	.masege_text.input_box{height: 70px;width: auto;}

	.data_publication_share .social_list_link i{line-height: 18px;}

	/*services*/
	.full_screen_box{min-height: 400px;background-position: 50% 50px;}
	.directions_title{
		position: absolute;
		top: 0;
	}
	.services_slider_item_col{width: auto;float: none;}
	.owl-nav>div{font-size: 25px;width: 25px;height: 25px;}
	.owl-nav>div.owl-prev{right: 55px;}

}

@media only screen and (max-width: 479px) {
	body{min-width:300px;}

	.title1{
		font-size: 20px;
		line-height: 25px;
	}

	/*main page*/
	.jobs_mane_project,
	.jobs_item.rectangle .jobs_mane_project, 
	.jobs_item.square_big .jobs_mane_project{font-size: 12px;}

	/*blog*/
	.blog_title a{font-size: 18px;}

	/*contacts*/
	.map_box{height: 300px;}

	/*services*/
	.full_screen_box{
		background: none;
		height: auto !important;
		min-height: 0;
		padding-bottom: 15px;
		border-bottom: 1px solid #c9c9c9;
	}
	.directions_title{
		position: static;
		margin-bottom: 15px;
		float: none;
	}
	.services_description{text-align: left;}
	.services_text{margin-bottom: 15px;}
	.services_slider_item_col{width: auto;float: none;}
	.thumbnail_item{width: 33.333%;}
}