@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/owl.carousel.css";
@import "../css/font-awesome-4.3.0/css/font-awesome.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> fonts <------------------*/
.codeBold{font-family: 'code_pro_boldregular';}
.geometriamedium{font-family: 'geometriamedium';}
.geometriamedium_italic{font-family: 'geometriamedium_italic';}
.geometrialight_italic{font-family: 'geometrialight_italic';}
.geometriabold{font-family: 'geometriabold';}
.geometriaregular{font-family: 'geometriaregular';}

/*----------------------> Links And buttons <------------------*/

a {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.button{
  display:inline-block;
  width: 200px;
  padding:12px 0;
  font-size: 14px;
  line-height: 20px;
  color:#fff;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
 }
.button:hover{
  background:#989898;
  color:#fff;
}

/*----------------------> Basic Classes <------------------*/
.upc {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{display: none;}

/*----------------------> Basic Colors <------------------*/
.white_color{color: #fff;}
.black_color{color: #000;}
.black_color1{color: #262626;}
/*----------------------> Basic elements <------------------*/
hr.border_bottom_grey{
  border: none;
  border-bottom: 1px solid #c9c9c9;
  margin: 0;
}

/*=====================> indents ========================*/

/*top*/
.mt40{margin-top: 40px;}
/*bottom*/
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb55{margin-bottom: 55px;}
/*left*/
.ml_30{margin-left: -30px;}
/*right*/
.mr_15{margin-right: -15px;}

/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 60px;
  line-height: 62px;
  color:#000;
  font-family: 'code_pro_boldregular';
  text-transform: uppercase;
}

.title2{
  font-size: px;
  line-height: px;
  color:#;
}
/*======================> Header <======================*/

#header{
  padding: 30px 0;
}
.logo a{
  font-size: 0;
  margin-right: 50px;
}
.descriptor{
  line-height: 44px;
  display: inline-block;
  color: #262626;
}
.descriptor i{
  line-height: 44px;
  margin-right: 8px;
}
.social_list{margin-right: 25px;}
    .social_list li{
      float: left;
      margin-left: 15px;
    }
    .social_list li:first-child{margin-left: 0;}
      .social_list_link{
        font-size: 20px;
        line-height: 22px;
        color: #262626;
      }
        .social_list_link i{
          line-height: 22px;
        }
        .footer_right .social_list_link i{
          line-height: 44px;
        }
        .social_list_link.vk{font-size: 20px;}
        .social_list_link.fb{font-size: 18px;}
        .social_list_link.tw{font-size: 22px;}
        .social_list_link.tum{font-size: 18px;}
        .social_list_link.ins{}
        .social_list_link.g_plus{font-size: 19px;}

        .social_list_link.vk:hover{color: #497099;}
        .social_list_link.fb:hover{color: #3b5999;}
        .social_list_link.tw:hover{color: #3db8ff;}
        .social_list_link.tum:hover{color: #2f4962;}
        .social_list_link.ins:hover{color: #b26a51;}
        .social_list_link.g_plus:hover{color: #d13d2f;}

.languages_list{padding-right: 15px;} 
   .languages_list li{
      float: left;
    }
    .languages_list li:first-child{
      background: url(../images/languages_list_marker.jpg) right center no-repeat;
    }
        .languages_list_link{
          display: block;
          font-size: 15px;
          line-height: 44px;
          padding: 0 6px;
          color: #5f5f5f;
        }
        .languages_list_link:hover{color: #989898;}

/*=====================> NAV ========================*/

.nav_mobail_btn{
  display: none;
  width: 40px;
  height: 40px;
  top: 87px;
  left: -40px;
  background-color: #000;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav_mobail.active .nav_mobail_btn{
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
  .nav_mobail_btn:before{
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 5px;
    background-color: #fff;
    left: 8px;
    top: 8px;
    -webkit-box-shadow: 0 9px 0 #fff, 0 18px 0 #fff;
    box-shadow: 0 9px 0 #fff, 0 18px 0 #fff;
  }
#main_nav{padding: 40px 0 50px;}
.main_menu{width: 400px;}
  .main_menu:before{
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    background-color: #989898;
  }
  .main_menu_link,
  .main_menu_link:hover{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 62px;
    color: #989898;
    display: inline-block;
    position: relative;
  }
    .main_menu_link:before{
      content: attr(data-hover);
      white-space: nowrap;
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      color: #262626;
      z-index: 9;
      -webkit-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s;
    }
    .main_menu_link:hover:before,
    .main_menu_item.current .main_menu_link:before{
      right: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }
    .section_description_box{
      width: 430px;
      height: 100%;
      background-color: #f5f5f5;
      opacity: 0;
      visibility: hidden;
      left: 100%;
      padding-left: 30px;
      top: 0;
      font: 40px/40px 'geometrialight';
      color: #2d2d2d;
      text-transform: uppercase;
      -webkit-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s;
    }
    .main_menu_link:hover + .section_description_box{
      opacity: 1;
      visibility: visible;
      z-index: 9;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    .main_menu_item.current .section_description_box{
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }


/*top nav*/
.top_nav{line-height: 44px;}
  .top_nav_item{
    float: left;
    padding-left: 30px;
  }
  .top_nav_item:first-child{
    padding-left: 0;
  }
    .top_nav_link{
      color: #262626;
      text-decoration: none;
      text-transform: uppercase;
    }
    .top_nav_item.current .top_nav_link,
    .top_nav_link:hover{
      text-decoration: none;
      color: #989898;
    }
/*=====================> Content ========================*/
.box_inner{padding: 30px 0 15px;}

/*filter_jobs*/

#filters_btn{padding: 15px 0;}
#filters_btn a{
  font-size: 14px;
  line-height: 1.2;
  color: #989898;
  display: inline-block;
  padding-left: 18px;
  margin-left: 50px;
  position: relative;
}
#filters_btn a:first-child{margin-left: 0;}
  #filters_btn a:before{
    content:'';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #989898;
    left: 0;
    top: 50%;
    margin-top: -5px;
  }
#filters_btn a.active,
#filters_btn a:hover{color: #2d2d2d;text-decoration: none;}
  #filters_btn a.active:before{
    background-color: #2d2d2d;
    border-color: #2d2d2d;
  }
.filter_jobs_container{max-width: 1690px;}
#filter_jobs_box{margin: 40px -15px 0;}
  .jobs_item{
    width: 25%;
    padding: 0 15px 30px;
  }
  .jobs_item.rectangle,
  .jobs_item.square_big{
    width: 50%;
  }
    .jobs_item.rectangle .jobs_item_inner{
      padding-top: calc(50% - 15px);
    }
    .jobs_item_inner{
      padding-top: 100%;
      overflow: hidden;
    }
    .jobs_item img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      min-width: 100%;
    }

    .jobs_item_descroption{
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      background-color: rgba(0,0,0,0.5);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
      .jobs_item_descroption>div{max-width: 100%;}
      .jobs_title_section{
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.2;
        margin: 0;
        padding-bottom: 8px;
        opacity: 0;
        visibility: hidden;
        padding-right: 80px;
        -webkit-transform: translate(0, -40px);
        -ms-transform: translate(0, -40px);
        -o-transform: translate(0, -40px);
        transform: translate(0, -40px);
      }
      .jobs_title_border{
        border: none;
        border-bottom: 1px solid #fff;
        margin: 0 0 25px;
        width: 0;
      }
      .jobs_mane_project{
        font-size: 18px;
        white-space: nowrap;
        line-height: 1.2;
        text-transform: uppercase;
        padding-right: 20px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 40px);
        -ms-transform: translate(0, 40px);
        -o-transform: translate(0, 40px);
        transform: translate(0, 40px);
      }
      .jobs_item.rectangle .jobs_mane_project,
      .jobs_item.square_big .jobs_mane_project{font-size: 25px;padding-right: 80px;}
      .jobs_item_descroption:before{
        content: '+';
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        color: #fff;
        top: 50%;
        left: 50%;
        font-size: 58px;
        line-height: 1;
        text-align: center;
        margin: -30px 0 0 -30px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
      }
      .jobs_item_link{
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
      }


    /*hover*/
    .jobs_item.rectangle .jobs_item_inner:hover .jobs_item_descroption,
    .jobs_item.square_big .jobs_item_inner:hover .jobs_item_descroption{
      padding: 25px 30px 0;
    }
    .jobs_item_inner:hover .jobs_item_descroption{
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 25px 20px 0;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
      .jobs_item_inner:hover .jobs_title_section{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
      }
      .jobs_item_inner:hover .jobs_title_border{
        width: 100%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      .jobs_item_inner:hover .jobs_mane_project{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
      }
      .jobs_item_inner:hover .jobs_item_descroption:before{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        -webkit-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s;
      }
/*GO UP*/
#go_up{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 60px; 
  right: 15px; 
  display: block;
  width: 58px;
  height: 58px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #808080;
  text-align: center;
  color: #262626;
  z-index: 99;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#go_up.active{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#go_up i{
  line-height: 56px;
  font-size: 16px;
}
#go_up:hover{
  border-color: #262626;
  color: #5f5f5f;
}

/*>>>>>>>>>>>>>>>>>> form <<<<<<<<<<<<<<<<<<<<<*/

.input_box{
  width: 210px;
  height: 28px;
  margin-bottom: 20px;
}
.masege_text.input_box{width: 422px;height: 100px;}
  .input_box .input_type1{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 6px;
    color: #fff;
    z-index: 9;
    background: none;
    border: none;
    outline: none;
  }
  .input_box textarea.input_type1{
    resize: none;
  }
  .input_box label{
    bottom: 0;
    left: 0;
    padding-left: 6px;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 4px;
    color: #808080;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .input_box i.input_box_bg{
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
/*input focus*/
.input_box .input_type1:focus ~ label,
.input_box .input_type1.active ~ label{
  font-size: 12px;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.input_box .input_type1:focus ~ i.input_box_bg,
.input_box .input_type1.active ~ i.input_box_bg{
  height: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*====================== block page ====================*/

#blog_box{margin: 90px -15px 70px;}
  .blog_item{
    width: 430px;
    padding: 0 15px 30px;
  } 
    .blog_item_inner a{
      display: block;
      overflow: hidden;
    }
    .blog_item_inner img{
      width: 100%;
      -webkit-transition: all 1.3s ease-in-out;
      -o-transition: all 1.3s ease-in-out;
      transition: all 1.3s ease-in-out;
    }
    .blog_item_inner a:hover img{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }
    .blog_item_description{
      margin-top: 35px;
      padding: 0 20px;
      font-size: 14px;
      line-height: 1.2;
      color: #5d5d5d;
      position: relative;
    }
    .blog_item_description:before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0px;
      bottom: 0px;
      width: 1px;
      background-color: #c9c9c9;
    }
      .blog_title{
        font-size: 25px;
        line-height: 1;
        color: #000;
        margin-bottom: 10px;
      }
        .blog_title a{
          font-size: 25px;
          line-height: 1;
          color: #000;
          text-decoration: none;
        }
        .blog_title a:hover{
          color: #989898;
        }
      .blog_data{
        color: #989898;
        display: block;
        padding-bottom: 20px;
        position: relative;
      }
        .blog_data:before{
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 38px;
          height: 1px;
          background-color: #c9c9c9;
        }

/*bread crumbs */
.bread_crumbs_box{padding: 13px 0;}  
  .bread_crumbs_item{
    padding-left: 15px;
    position: relative;
  }
  .bread_crumbs_item:before{
    content: "-";
    position: absolute;
    left: 4px;
  }
  .bread_crumbs_item:first-child{padding-left: 0;}
  .bread_crumbs_item:first-child:before{display: none;}
    .bread_crumbs_link{
      color: #989898;
    }
    .bread_crumbs_item span,
    .bread_crumbs_link:hover{color: #000;text-decoration: none;}
  

  /*arrows link*/
  .leaf_through_box_top{right: 50%;}
  .leaf_through_link{color: #262626;margin: 0 15px;}
  .leaf_through_link:hover{color: #989898;}
  .leaf_through_link i{line-height: 20px;}
  /*========================== blog open page ==========================*/

  .img_box img{max-width: 100%;}

  
  .data_publication_list_item{
    padding-left: 15px;
    position: relative;
    margin-bottom: 5px;
  }
  .data_publication_list_item:before{
    content: "";
    display: block;
    width: 1px;
    bottom: 5px;
    min-height: 15px;
    position: absolute;
    left: 0;
    top: 3px;
    line-height: 22px;
    background-color: #c9c9c9;
  }
    .data_publication{
      color: #5f5f5f;
    }
    .data_publication_share span{
      color: #000;
      padding-right: 10px;
    }

  .open_blog_right{width: 425px;padding-left: 20px;}
    .open_blog_right:before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0px;
      background-color: #c9c9c9;
    }


/*========================== services ==========================*/
.title_description{padding-left: 20px;}
.title_description:before{
  content:'';
  display: block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 1px;
  background-color: #c9c9c9;
}

.full_screen_box{
  min-height: 500px;
  background: url(../images/services_img.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.directions_title{line-height: 20px;}
.directions_title span{font-size: 20px;}

.services_item{padding: 40px 0 52px;}
  .services_text{
    width: 375px;
    display: inline-block;
    margin-bottom: 45px;
  }

  /*order form*/
  .order_form{display: none;}
.order_form_inner{
  padding-top: 50px;
}


/*slider thumbnail*/
.thumbnail_box{margin: 0 -15px;}
  .thumbnail_item{
    width: 16.66666%;
    padding: 0 15px 30px;
  }
    .thumbnail_item>div img{
      width: 100%;
      opacity: 0.6;
      cursor: pointer;
    }
    .thumbnail_item>div:hover img,
    .thumbnail_item.active>div img{opacity:1;}

  /*services slider*/
  
  .services_slider_item img{width: 100%;}
  .services_slider_item_col{
    width: 50%;
    padding: 0 40px 0 20px;
    margin-top: 25px;
    position: relative;
  }
    .services_slider_item_col:before{
      content:'';
      display: block;
      position: absolute;
      top: 0;
      bottom: 15px;
      left: 0;
      width: 1px;
      background-color: #c9c9c9;
    }

  .owl-nav>div{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    top: 20px;
    right: 20px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .owl-nav>div i{line-height: 1;width: 100%;}
  .owl-carousel:hover .owl-nav>div:hover{
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .owl-nav>div.owl-prev{
    left: inherit;
    right: 65px;
  }


  /*crewman*/
  .crewman_item{padding-top: 45px;}
  .crewman_avatar{margin-right: 35px;overflow: hidden;width: 315px;}
  .crewman_description{
    padding-left: 20px;
    padding-right: 13%;
    position: relative;
  }
  .crewman_description:before{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 15px;
    left: 0;  
    background-color: #c9c9c9;
  }
  .crewman_specialization{
    color: #858585;
  }


.partners_box{padding: 45px 0 70px;}
  .partners{margin-left: -10px;}
    .partners_item{
      width: 235px;
      padding: 0 10px 30px;
      text-align: center;
    }
    .partners_item a{display: block;}
    .partners_item img{
      max-width: 100%;
      -webkit-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s;
    }
    .partners_item a:hover img{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }


/*contacts*/
.contact_right{padding-right: 17px;}
.contact_right:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 15px;
  width: 1px;
  background-color: #c9c9c9;
}
.map_box{height: 800px;}
/*================================>> Footer <<========================================*/
#footer{
  padding: 30px 0 72px;
}
  .footer_inner{max-width: 1690px;}
    .footer_title{color: #262626;}
